h1 {
  font-family: $font-title;
  font-size: $font-xl;
  text-align: center;
  text-transform: lowercase;
}

h2 {
  font-family: $font-title;
  font-size: $font-m;
  text-transform: lowercase;
  margin-top: $l;
}

h5 {
  font-size: $font-s;
}

a {
  color: $grey;
}
