@import './variables.scss';

html {
  color: $grey;
  background-color: $black;
  font-family: $font-regular;
  font-size: $font-s;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: $font-m; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

.page__container {
  margin: $m;
}
