@use './variables.scss' as *;

@mixin inverted-colors {
  background-color: $light-grey;
  color: $black;
}

@mixin text-background {
  @include inverted-colors;
  border-radius: $border-radius;
  display: inline-block;
  font-weight: bold;
  padding: $xs $s;
}

@mixin subheader {
  color: $grey;
  text-decoration: none;
  text-transform: lowercase;
}

@mixin divider {
  border-bottom: 1px solid $dark-grey;
}

@mixin responsive-background {
  border-radius: $border-radius;
  background-size: cover;
  background-position: center;
}

@mixin blurred-background($opacity: 0.1) {
  backdrop-filter: blur($s);
  background: transparentize($color: $black, $amount: $opacity);
}

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin styled-scrollbar {
  // Chromium styles
  &::-webkit-scrollbar {
    background-color: transparent;
    width: $xs;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $dark-grey;
    border-radius: $s;
  }
  // Firefox
  scrollbar-width: thin;
  scrollbar-color: $dark-grey transparent;
}
