// Typography
$font-s: 14px;
$font-m: 18px;
$font-l: 24px;

$font-regular: 'Poppins', Arial, sans-serif;
$font-title: 'Philosopher', serif;

@mixin subheader {
  color: $grey;
  text-decoration: none;
  text-transform: lowercase;
}

// Spacing
$xs: 5px;
$s: 10px;
$m: 20px;
$l: 50px;
$xl: 100px;

// Colors
$grey: #e7e7e7;
$black: #4a4646;
